body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  background-color: #eae3d3;
  margin: 0;
  padding: 0;
}

.jumbotron h1 {
  font-size: 3em;
}

.jumbotron h2 {
  font-size: 1.3em;
}

#chart {
  background-color: #d3d6ea;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  width: 75%;
}

.bar:hover {
  fill: #9e3a3a;
}

.tooltip {
  position: absolute;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  /* max-width: 200px; */
  /* max-height: 100px; */
  height: auto;
  margin: 1em 0 3em 0;
  border: 1px solid #000;
  color: #000;
  background: #93afd2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

footer p {
  margin-top: 50px;
  text-align: center;
}
