body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  background-color: #eae3d3;
  margin: 0;
  padding: 0;
}

.jumbotron h1 {
  font-size: 3em;
}

.jumbotron h2 {
  font-size: 1.3em;
}

#chart {
  background-color: #d3d6ea;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  width: 80%;
}

.bar:hover {
  fill: #9e3a3a;
}

.tips {
  position: relative;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  max-width: 200px;
  max-height: 100px;
  margin: 1em 0 3em 0;
  border: 1px solid #000;
  color: #000;
  background: #93afd2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.tips:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 82px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
}

.tips:after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 82px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #93afd2 transparent;
  display: block;
  width: 0;
}

.hidden {
  display: none;
}

footer p {
  margin-top: 50px;
  text-align: center;
}
